/* @import url('https://fonts.googleapis.com/css2?family=Praise&family=Yuji+Syuku&display=swap');

.filter-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

select {
	font-family: 'Yuji Syuku', serif;
} */
